{% extends 'base.html' %}
{% load static %}

{% block register %}	

<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title bg-overlay bg-overlay-dark bg-parallax">
    <div class="bg-section">
        <img src="{% static "assets/images/page-titles/3.jpg" %}" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="title title-2 text-center">
                    <div class="title--content">
                        <div class="title--heading mb-20">
                            <h1>Shop</h1>
                        </div>
                    </div>
                  </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

    <main class="main__content_wrapper">

        <!-- Start login section  -->
        <div class="login__section section--padding">
            <div class="container">
                <form action="#">
                    <div class="login__section--inner">
                        <div class="row row-cols-md-2 row-cols-1">
                            <div class="col">
                                <div class="account__login register">
                                    <div class="account__login--header mb-25">
                                        <h2 class="account__login--header__title mb-15">Create an Account</h2>
                                        <p class="account__login--header__desc">Register here if you are a new customer</p>
                                    </div>
                                    <div class="account__login--inner">
                                        <label>
                                            <input class="account__login--input" placeholder="Username" type="text">
                                        </label>
                                        <label>
                                            <input class="account__login--input" placeholder="Email Addres" type="email">
                                        </label>
                                        <label>
                                            <input class="account__login--input" placeholder="Password" type="password">
                                        </label>
                                        <label>
                                            <input class="account__login--input" placeholder="Confirm Password" type="password">
                                        </label>
                                        <button class="account__login--btn primary__btn mb-10" type="submit">Submit & Register</button>
                                        <div class="account__login--remember position__relative">
                                            <input class="checkout__checkbox--input" id="check2" type="checkbox">
                                            <span class="checkout__checkbox--checkmark"></span>
                                            <label class="checkout__checkbox--label login__remember--label" for="check2">
                                                I have read and agree to the terms & conditions</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>     
        </div>
        <!-- End login section  -->

 
    </main>


   <!-- All Script JS Plugins here  -->
   <script src="{% static "assets/js/vendor/popper.js" %}" defer="defer"></script>
   <script src="{% static "assets/js/vendor/bootstrap.min.js" %}" defer="defer"></script>
   <script src="{% static "assets/js/plugins/swiper-bundle.min.js" %}"></script>
   <script src="{% static "assets/js/plugins/glightbox.min.js" %}"></script>

  <!-- Customscript js -->
  <script src="{% static "assets/js/script.js" %}"></script>
{% endblock %}
