{% extends 'base.html' %}
{% load static %}

{% block register %}	

<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title bg-overlay bg-overlay-dark bg-parallax">
    <div class="bg-section">
        <img src="{% static "assets/images/page-titles/3.jpg" %}" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="title title-2 text-center">
                    <div class="title--content">
                        <div class="title--heading mb-20">
                            <h1>Shop</h1>
                        </div>
                    </div>
                  </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

    <main class="main__content_wrapper">

        <!-- Start login section  -->
        <div class="login__section section--padding">
            <div class="container">
                <form action="{% url 'users:register' %}" method="post">
                    {% csrf_token %}
                    <div class="login__section--inner">
                        <div class="row row-cols-md-2 row-cols-1">
                            <div class="col">
                                <div class="account__login register">
                                    <div class="account__login--header mb-25">
                                        <h2 class="account__login--header__title mb-15">Создание аккаунта</h2>
                                        <p class="account__login--header__desc">Регистрация нового пользователя:</p>
                                    </div>
                                    <div class="account__login--inner">
                                        <label for="id_username">
                                            <input class="account__login--input" placeholder="Имя пользователя*"
                                                   value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                                   name="username" type="text" required>
                                        </label>
                                        <label for="id_email">
                                            <input class="account__login--input" placeholder="Email*"
                                                   value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                                   name="email" type="email" required>
                                        </label>
                                        <label for="id_password1">
                                            <input class="account__login--input" placeholder="Пароль*" 
{#                                                   value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"#}
                                                   name="password1" type="password" required>
                                        </label>
                                        <label for="id_password2">
                                            <input class="account__login--input" placeholder="Подтвердите пароль*"
{#                                                   value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"#}
                                                   name="password2" type="password" required>
                                        </label>
                                        <button class="account__login--btn primary__btn mb-10" type="submit">Регистрация</button>
{#                                        <div class="account__login--remember position__relative">#}
{#                                            <input class="checkout__checkbox--input" id="check2" type="checkbox">#}
{#                                            <span class="checkout__checkbox--checkmark"></span>#}
{#                                            <label class="checkout__checkbox--label login__remember--label" for="check2">#}
{#                                                I have read and agree to the terms & conditions</label>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>     
        </div>
        <!-- End login section  -->

 
    </main>


   <!-- All Script JS Plugins here  -->
   <script src="{% static "assets/js/vendor/popper.js" %}" defer="defer"></script>
   <script src="{% static "assets/js/vendor/bootstrap.min.js" %}" defer="defer"></script>
   <script src="{% static "assets/js/plugins/swiper-bundle.min.js" %}"></script>
   <script src="{% static "assets/js/plugins/glightbox.min.js" %}"></script>

  <!-- Customscript js -->
  <script src="{% static "assets/js/script.js" %}"></script>
{% endblock %}
