{% extends 'base.html' %}
{% load static %}

{% block content %}
    
{% load carts_tags %}
{% user_carts request as carts %}
	
<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title bg-overlay bg-overlay-dark bg-parallax">
    <div class="bg-section">
        <img src="http://demo.zytheme.com/hairy/assets/images/page-titles/3.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="title title-2 text-center">
                    <div class="title--content">
                        <div class="title--heading mb-20">
                            <h1>Ваши товары</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb breadcrumb-bottom">
                        <li><a href="{% url 'users:checkout' %}">Оформить заказ</a></li>
                        <li class="active">Ваши товары</li>
                    </ol>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<!-- Shop Cart
============================================= -->
<section id="shopcart" class="shop shop-cart bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="shop-cart-heading">
                    В вашей корзине: {{ carts.total_quantity }} товаров
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="cart-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="cart-product">
                                <th></th>
                                <th class="cart-product-item">Название</th>
                                <th class="cart-product-price">Цена</th>
                                <th class="cart-product-quantity">Количество</th>
                                <th class="cart-product-total">Итого</th>
                                <th class="cart-product-remove"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for cart in carts %}
                            <tr class="cart-product">
                                <td></td>
                                <td class="cart-product-item">
                                    <div class="cart-product-img">
                                        <a href="{{ cart.product.get_absolute_url }}">
						            {% if cart.product.image %}                      
                                        <img src="{{ cart.product.image.url }}" alt="{{ cart.product.name }}" height="80" width="160">                                
                                    {% else %}
                                        <img src="{% static "assets/images/shop/not_found/not_found.jfif"%}" alt="{{ cart.product.name }}">
                                    {% endif %} 
					                    </a>
                                    </div>
                                    <div class="cart-product-name">
                                        <h6><a href="{{ cart.product.get_absolute_url }}">{{ cart.product.name}}</a></h6>
                                    </div>
                                </td>
                                <td class="cart-product-price">{{ cart.product.discount_price }} ₽</td>
                                <td class="cart-product-quantity">
                                    <div class="product-quantity">
                                        <span class="qant-plus"><i class="fa fa-caret-up"></i></span>
                                        <input type="text" value="{{ cart.quantity }}" id="pro1-qunt" readonly>
                                        <span class="qant-minus"><i class="fa fa-caret-down"></i></span>
                                    </div>
                                </td>
                                <td class="cart-product-total">{{ cart.products_price }} ₽</td>
                                <td>
                                    <div class="cart-product-remove">
                                        <i class="lnr lnr-cross"></i>
                                    </div>
                                </td>
                                <td></td>
                            </tr>                           
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- .cart-table end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="cart-product-action">
                    <form class="form-inline pull-left">
                        <input type="text" class="form-control mb-0" id="coupon" placeholder="Coupon Code" />
                        <button type="submit" class="btn btn--secondary">Apply</button>
                    </form>
                    <div class="cart-total-amount text-right">
                        Итого: <span class="">{{ carts.total_price }} ₽</span>
                    </div>
                    <!-- .cart-total-amount end -->
                </div>
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <a class="btn btn--secondary btn--rounded pull-right" href="{% url 'users:checkout' %}">Оформить заказ</a>
            </div>
        </div>
    </div>
    <!-- .container end -->
</section>
<!-- #shopcart end -->

{% endblock %}