{% load static %}
{% load carts_tags %}
{% user_carts request as carts %}


<!-- Module Cart -->
<div class="module module-cart pull-left">
    <div class="module-icon cart-icon">
        <i class="lnr lnr-store"></i>
        <span class="title">shop cart</span>
        <label class="module-label">{{ carts.total_quantity }}</label>
    </div>
    <div class="module-content module-box cart-box">
        {% for cart in carts %}  
        <div class="cart-overview">
            <ul class="list-unstyled">
                <li>
                    <a href="{{ cart.product.get_absolute_url }}">
						{% if cart.product.image %}                      
                            <img src="{{ cart.product.image.url }}" alt="{{ cart.product.name }}" />                                
                        {% else %}
                            <img src="{% static "assets/images/shop/not_found/not_found.jfif"%}" alt="{{ cart.product.name }}" />
                        {% endif %} 
					</a>
                    <div class="product-meta">
                        <h5 class="product-title"><a href="{{ cart.product.get_absolute_url }}">{{ cart.product.name}}</a></h5>
                        <p class="product-price">{{ cart.quantity }} x {{ cart.product.discount_price }} ₽ = {{ cart.products_price }} ₽</p>
                    </div>
                    <a class="cart-cancel" href="#">cancel</a>
                </li>
            </ul>
        </div>
        {% endfor %}
        <div class="cart-total">
            <div class="total-desc">
                <strong>Итого:</strong>
            </div>
            <div class="total-price">
                <strong>{{ carts.total_price }} ₽ </strong>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="cart--control">
            <a class="btn btn--primary btn--bordered btn--rounded btn--block" href="{% url 'users:checkout' %}">Оформить заказ</a>
        </div>
    </div>
</div>

<!-- .module-cart end -->