{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title bg-overlay bg-overlay-dark bg-parallax">
    <div class="bg-section">
        <img src="{% static "assets/images/page-titles/3.jpg" %}" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="title title-2 text-center">
                    <div class="title--content">
                        <div class="title--heading mb-20">
                            <h1>Shop</h1>
                        </div>
                    </div>
{#                    <div class="clearfix"></div>#}
{#                    <ol class="breadcrumb breadcrumb-bottom">#}
{#                        <li><a href="index-2.html">Home</a></li>#}
{#                        <li><a href="index-2.html">shop</a></li>#}
{#                        <li class="active">Shop Left Sidebar</li>#}
{#                    </ol>#}
                  </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<!-- Shop #4
===
=== === === === === === === === === === === === === === -->
<section id="shop" class="shop shop-3 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <!-- Search
============================================= -->
<div class="widget widget-search">
    <div class="widget--content">
        <form class="form-search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search here..">
                <span class="input-group-btn">
					<button class="btn" type="button"><i class="fa fa-search"></i></button>
				</span>
            </div>
            <!-- /input-group -->
        </form>
    </div>
</div>
<!-- .widget-search end -->

<!-- Categories
============================================= -->
<div class="widget widget-categories">
    <div class="widget--title">
        <h5>categories</h5>
    </div>
    <div class="widget--content">
        <ul class="list-unstyled">
            <li>
                <a href="#">Clippers</a>
            </li>
            <li>
                <a href="#">Brushes</a>
            </li>
            <li>
                <a href="#">Creams & Soaps</a>
            </li>
            <li>
                <a href="#">After Shaves</a>
            </li>
            <li>
                <a href="#">Razors</a>
            </li>
        </ul>
    </div>
</div>
<!-- .widget-categories end -->
<!-- Recent Products
============================================= -->
<div class="widget widget-recent-products">
    <div class="widget--title">
        <h5>Best Sellers</h5>
    </div>
    <div class="widget--content">
        <!-- Product #1 -->
        <div class="product clearfix">
            <a href="#">
				<img src="http://demo.zytheme.com/hairy/assets/images/shop/thumb/1.jpg" alt="product"/>
			</a>
            <div class="product-desc">
                <div class="product-title">
                    <a href="#">Gel Cream</a>
                </div>
                <div class="product-meta">
                    <span>$7.52</span>
                </div>
            </div>
        </div>
        <!-- .recent-product end -->

        <!-- Product #2 -->
        <div class="product clearfix">
            <a href="#">
				<img src="http://demo.zytheme.com/hairy/assets/images/shop/thumb/2.jpg" alt="product"/>
			</a>
            <div class="product-desc">
                <div class="product-title">
                    <a href="#">Hair Dryer</a>
                </div>
                <div class="product-meta">
                    <span>$35.00</span>
                </div>
            </div>
        </div>
        <!-- .recent-product end -->

        <!-- Product #3 -->
        <div class="product clearfix">
            <a href="#">
				<img src="http://demo.zytheme.com/hairy/assets/images/shop/thumb/3.jpg" alt="product"/>
			</a>
            <div class="product-desc">
                <div class="product-title">
                    <a href="#">Hair Brush</a>
                </div>
                <div class="product-meta">
                    <span>$23.00</span>
                </div>
            </div>
        </div>
        <!-- .recent-product end -->
    </div>

</div>
<!-- .widget-recent end -->

<!-- Filter
============================================= -->
<div class="widget widget-filter">
    <div class="widget--title">
        <h5>Pricing Filter</h5>
    </div>
    <div class="widget--content">
        <div id="slider-range"></div>
        <p>
            <input type="text" id="amount" readonly>
            <a class="btn btn--secondary btn--bordered btn--rounded" href="{% url 'shop:shop' slug_url %}">Filter</a>
        </p>

    </div>
</div>
<!-- .widget-filter end -->

<!-- Tag Clouds
============================================= -->
<div class="widget widget-tags">
    <div class="widget--title">
        <h5>tag clouds</h5>
    </div>
    <div class="widget--content">
        <a href="#">Hairstyle</a>
        <a href="#">Shave</a>
        <a href="#">Clipper</a>
        <a href="#">Trim</a>
        <a href="#">Cream</a>
        <a href="#">Razor</a>
    </div>
</div>
<!-- .widget-tags end -->
            </div>
            <!-- .col-md-3 end -->
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="row">
                 
                    <!-- Product #1 -->
                    {% for product in products %}                                    
                    <div class="col-xs-12 col-sm-6 col-md-4 product-item">
                        <div class="product--img">
                            {% if product.image %}                      
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" />                                
                            {% else %}
                                <img src="{% static "assets/images/shop/not_found/not_found.jfif"%}" alt="{{ product.name }}" />
                            {% endif %} 
                            <div class="product--hover">
                                <div class="product--action">
                                    <a href="#">В корзину</a>
                                </div>
                            </div>                              
                            <!-- .product-overlay end -->
                        </div>
                        <!-- .product-img end -->
                        <div class="product--content">
                            <div class="product--title">
                                <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--price">
                                {% if product.discount %}
                                    <span><s>{{ product.price }} ₽</s></span>
                                     <span class="text-green"> <strong>{{ product.discount_price }} ₽</strong></span>
                                    <div class="badge bg-warning text-dark"> Скидка  {{ product.discount }} %</div>
                                {% else %}
                                     <strong> {{ product.price }} ₽ </strong>
                                {% endif %} 
                            </div>
                            <!-- .product-price end -->
                        </div>
                        <!-- .product-bio end -->
                    </div>
                    {% endfor %} 
                    <!-- .product end -->                           
                                 
                </div>
                <!-- .row end -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 clearfix mt-50 text--center">
                        <ul class="pagination">
                            {% for page in products.paginator.page_range %}                           
                                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}  
                               <li> <a class="pagination-next" href="{% if products.has_next %}?page={{ products.next_page_number }}{% endif %}" aria-label="Next">                                           
                               <span aria-hidden="true">Следующая <i class="fa fa-angle-double-right"></i></span>                                  
				                    </a>
                               </li>
                        </ul>
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .col-md-9 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #shop end -->

{% endblock %}
